@import '../../assets/styles/mixin';
@import '../../assets/styles/variables';

.all-work-container {
  @include displayFlex(column);
  align-items: center;
  padding-top: 4rem;

  > h2 {
    font-size: 3rem;
    color: $orange-red-color;
    transition: 0.4s;
    margin-bottom: 4rem;
  }

  > h2:hover {
    color: black
  }
}

.work-display-container {
  @include displayFlex(row);
  padding: 0rem 0rem 2rem 4rem;
  gap: 4rem;

  .work-information-container {
    @include displayFlex(column);
    justify-content: center;
    color: $charcoal-color;

    h2 {
      width: fit-content;
      font-size: 3rem;
      font-weight: 400;
      color: $orange-red-color;
      transition: 0.4s;
      margin-bottom: 1rem;
    }

    h2:hover {
      color: black;
    }

    p {
      font-size: 1.2rem;
      line-height: 2rem;
    }

    a {
      @include button(1rem);
      margin-top: 2rem;
    }

    a:hover {
      background-color: $orange-red-color;
      color: #fff;
    }
  }

  img {
    width: 800px;
    border-radius: 16px;
  }
}

.work-display-container.concrete {
  padding: 0rem 4rem 2rem 0rem;

  img {
    height: 500px;
  }
}