@import '../../assets/styles/mixin';
@import '../../assets/styles/variables';

.all-work-container {
  background-color: rgb(241, 241, 241);
  padding-top: 2rem;
}

.work-display-container {
  @include displayFlex(row);
  padding: 0rem 0rem 2rem 4rem;
  gap: 4rem;

  .work-information-container {
    @include displayFlex(column);
    justify-content: center;
    color: $charcoal-color;

    h2 {
      width: fit-content;
      font-size: 3rem;
      font-weight: 400;
      color: $dark-orange-color;
      transition: 0.4s;
      margin-bottom: 1rem;
    }

    h2:hover {
      color: black;
    }

    p {
      font-size: 1.2rem;
      line-height: 2rem;
    }
  }

  img {
    width: 800px;
    border-radius: 16px;
  }
}

.work-display-container.concrete {
  padding: 0rem 4rem 2rem 0rem;

  img {
    height: 500px;
  }
}