@import '../../assets/styles/mixin';
@import '../../assets/styles/variables';

nav {
  @include displayFlex(row);
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: black;
  padding: 0.5rem 10rem;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid black;
  z-index: 999;

  .logo {
    cursor: pointer;

    img{
      width: 50px;
    }
  }

  ul {
    @include displayFlexCenter(row);
    list-style-type: none;
    gap: 2rem;
  }

  ul li a {
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
    font-weight: 500;
    transition: 0.2s;
  }

  ul li a:hover {
    color: $orange-red-color;
  }

  ul .nav-link {
    color: black;
  }

  ul .active-link {
    color: $orange-red-color;
  }
}