@import '../../assets/styles/mixin';
@import '../../assets/styles/variables';

.hero-section {
  width: 100vw;
  height: 90vh;
  @include displayFlexCenter(column);
  margin-bottom: 4rem;

  h1 {
    font-size: 5rem;
    font-weight: 400;
    transition: 0.4s;
    color: $orange-red-color;
    letter-spacing: 3px;
    margin-bottom: 2rem;
  }

  h1:hover {
    color: black;
  }

  h2 {
    text-align: left;
    font-size: 2rem;
    padding: 0rem 10rem;
    font-weight: 400;
  }
}